:root {
  --white: #ffffff;
  --login-color: #f8f8f8;
}
.main {
 

  height: 100%;
 
  background-color: transparent;
  backdrop-filter: blur(5px);
}
.started,
.forget-password,
.login,
.form::placeholder,
.login-btn button,
.Continue span {
  font-family: "Inter";
  font-style: normal;
}
.sectionlogin {
  width: 100%;
}
.parent {
  border-radius: 15px 15px 0px 0px;
}

.sectionimg img {
  width: 75%;
  height: 75%;
  margin: auto;
}
.btnparent {
  width: 326px;
  height: 40px;
  background: var(--login-color);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto !important;
}
.login {
  width: 50%;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 23.5px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: black;
}
.parentReg {
  width: 90%;
  height: 40px;
  background: var(--login-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto !important;
}
.parentReg a {
  background-color: #63ccfb;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: white;
}
.active {
  background: linear-gradient(95.26deg, #63ccfb -1.79%, #00a2f4 78.59%);
  color: white;
}
.started {
  width: 100%;
  height: 40px;
 color: #f8f8f8;
  font-size: 25px;
  line-height: 21px;
  margin: 10px auto !important;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: bolder;
}
.form {
  width: 90%;
  height: 49px;
  margin: 10px auto !important;
  background: #f0f0f0;
  border-radius: 8px;
  border: none;
  padding-left: 10px;
}
.form::placeholder {
  padding: 30px;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;

  color: #adadad;
}
.code {
  width: 70%;
  height: 49px;
  margin: 10px 0px !important;
  background: #f0f0f0;
  border-radius: 8px;
  border: none;
  padding-left: 10px;
}
.code::placeholder {
  padding: 30px;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;

  color: #adadad;
}

.InputCode {
  display: flex;
  align-items: center;
  justify-content: center;
}
.submitcode {
  height: 49px;
  width: 20%;
  border-radius: 8px;
  background: linear-gradient(95.26deg, #63ccfb -1.79%, #00a2f4 78.59%);
  color: white;
  border: 0;
  font-size: 12.5px;
  -webkit-appearance: none;
}
.pusodo {
  text-align: center;
  position: relative;
}
.pusodo svg {
  position: absolute;
  right: 10%;
  top: 37.5%;
  cursor: pointer;
}

.loginbtn a {
  width: 308px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(96.38deg, #63ccfb -8.79%, #00a2f4 86.42%);
  border-radius: 23.5px;
  font-weight: 600;
  font-size: 14px;
  border: none;
  margin: auto;
  color: var(--white) !important;
  cursor: pointer;
}
.forgetpassword {
  display: block;
  margin: 10px auto !important;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #0085ff;
  text-decoration: none;
}
.Continue,
footer {
  margin: auto !important;
  text-align: center;
}
.Continue span {
  display: block;
  padding: 15px;
  text-align: center;
  font-weight: 400;
  font-size: 13px;

  color: #494949;
}
.footerdiv {
  display: flex;
  justify-content: space-around;
  text-align: center;
  height: 100%;
}
.footerdiv div {
  border-radius: 5px;
  margin: 10px auto;
}
.footerdiv div img {
  width: 23px;
  height: 25px;
  cursor: pointer;
  text-align: center;
}
.Alert {
  width: 90%;
  margin: 0px auto 10px !important;
}
